.ReactModalPortal > div {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Overlay {
    transition: opacity 200ms ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}
.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}
.ReactModalPortal .ReactModal__Content {
    padding: $l-size;
    text-align: center;
}
.modal__button {
    color: #ffffff;
    background: $green-blue;
    border: none;
    border-radius: .3rem;
    padding: $s-size;
    font-weight: 500;
}
.modal__title {
    color: $dark-gunmetal;
}
.modal__body {
    color: $independance;
}
.modal {
    background: $light-blue;
}